@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");
body {
  font-family: "JetBrains Mono", monospace;
}
.glitch-green {
  text-shadow: 0 0 10px rgba(45, 212, 191, 0.8);
}

@keyframes animeTransition {
  0% { 
    transform: scale(0); 
    opacity: 0; 
  }
  /* Detik ke-20 animasi, layar sudah tertutup rapat */
  20% { 
    transform: scale(1.1); 
    opacity: 1; 
  }
  /* Tahan posisi penuh ini sampai animasi selesai, jangan mengecil dulu! */
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.animate-anime-deku {
  /* Kita naikkan durasinya sedikit jadi 0.9 detik biar menutupnya mantap */
  animation: animeTransition 0.9s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}